@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lightMode{
max-width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
background-color: #ffebd063;
color: #fdb857;
}

.darkMode{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;  
    background-color: #405061;
    color: #e1ebf2; 

}

.sun{
width: 100px;
height: 100px;
background: url("https://img.icons8.com/external-justicon-flat-justicon/100/null/external-sun-weather-justicon-flat-justicon-1.png");
}

.moon{
    width: 100px;
    height: 100px;
    background: url("https://img.icons8.com/officel/100/null/moon.png");
    background-repeat: no-repeat;
}

h1{
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
}

input {
    cursor: pointer;
    margin: 1rem auto;
    position: relative;
    width: 60px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    background-color: #ffcd44;
    -webkit-appearance: none;
    transition: background .3s;
    
}

input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;  
}

input:checked {
    background-color: #a3b7cc
}

input:checked::after {
    left: 70%;
}

